<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuluyao.frog">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <!--android:roundIcon="@mipmap/ic_launcher_round"-->

    <activity android:name="com.yuluyao.frog.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.yuluyao.frog.func.empty.EmptyActivity" />
    <activity android:name="com.yuluyao.frog.func.head.HeadActivity" />
    <activity android:name="com.yuluyao.frog.func.load.LoadActivity" />
    <activity android:name="com.yuluyao.frog.func.click.ClickActivity" />
    <activity android:name="com.yuluyao.frog.func.divider.DividerActivity" />
    <activity android:name="com.yuluyao.frog.func.multi.MultipleActivity" />
    <activity android:name="com.yuluyao.frog.func.foot.FootActivity" />
    <activity android:name="com.yuluyao.frog.func.anim.AnimActivity" />
    <activity android:name="com.yuluyao.frog.func.expand.ExpandActivity" />
      <activity android:name=".func.click.ItemTouchActivity" />
  </application>

</manifest>